<!DOCTYPE html>
<html>
  <head>
    <title>Add Story</title>
  </head>
  <body>
    <h1>Add a story!</h1>

     <form action="/result/" method="POST">
      <input type="text" name="user" value="user">
      <input type="text" name="pass" value="pass">
      <input type="submit" name="login" value="login">
      <input type="submit" name="register" value="register">
    </form>

    <form action='/add/' method="POST">
      <input type="text" name="title" value="story title">
      <input type="text" name="story" value="story">
      <input type="submit" name="subStory" value="submit story">
    </form>
  </body>
</html>
