<!DOCTYPE html>
<html>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='formstyle.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='animate.min.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <head> <title> wot </title> </head>
    <body{% if user %} style = "background:#FFFFFF;"{% endif %}>
        <div class="page animated slideInUp" style="">
            {% if user %}{% else %}
            <p> {{ story }} </p>
            {% endif %}

        </div>
        {% if user %}
        <div class="sform animated slideInLeft" style = "background:LightSteelBlue;">
            <h1 style = "margin-top:-10px; text-align: left; color:white; font-size:34px;">Strytym</h1> <i id="icon" class="fa fa-book" style="position:absolute;margin-top:-80px;margin-left:22px;text-shadow: 0px 0px rgb(123,137,155), 1px 1px rgb(130,145,164), 2px 2px rgb(136,152,172), 3px 3px rgb(143,159,180), 4px 4px rgb(150,167,189), 5px 5px rgb(156,174,197), 6px 6px rgb(163,181,205), 7px 7px rgb(169,189,214); font-size: 26px; color: rgb(255, 255, 255); height: 80px; width: 80px; line-height: 80px; border-radius: ; text-align: center; background-color: rgb(176, 196, 222);"></i>
            <h2> {{ name }} <h2>
                <p> {{summary}} </p>
                <div style = "margin-top:350px;">
                    <form action="logout" method="post">
                        <button type="submit" name="logout" value="logout" > logout </button>
                    </form>
                </div>
                <br>
                <div style="color:white;">You are logged in as {{user}} </div>
                {% endif %}
    </body>
</html>
